{% load i18n %}
{% load static %}
{% load has_group %}
<!-- &copy; 2015-2018 Videntity Systems, Inc.  --> 
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/layout/logo.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.APPLICATION_TITLE }}">
                <strong>{{ settings.APPLICATION_TITLE }}</strong>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="inactive"><a href="/"><i class="fa fa-home"></i> Home</a></li>
         
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">


		{% if user.is_authenticated %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> Settings<b class="caret"></b></a>
          <ul class="dropdown-menu">
						<li><a href="{% url 'account_settings' %}"> <i class="fa fa-user"></i> Basic Information</a></li>
            <li><a href="{% url 'display_individual_identifiers' %}"> <i class="fa fa-id"></i> Identifiers</a></li>
            <li><a href="{% url 'display_addresses' %}"> <i class="fa fa-map"></i> Addresses</a></li>
            <li><a href="{% url 'mobile_phone' %}"> <i class="fa fa-mobile"></i> Mobile Phone</a></li>
            <li><a href="{% url 'fido:register' %}"> <i class="fa fa-key"></i> Register FIDO Devices</a></li>
            <li><a href="{% url 'fido:fido-list' %}"> <i class="fa fa-key"></i> FIDO 2 </a></li>
            <li><a href="{% url 'mfa-management' %}"> <i class="fa fa-key"></i> Multi-factor Authentication</a></li>
            <li><a href="{% url 'oauth2_provider:authorized-token-list' %}"> <i class="fa fa-legal"></i> Authorized Applications</a>
		        <li><a href="{% url 'oauth2_provider:list' %}">  <i class="fa fa-key"></i> Developer Application Registration</a>
            <li><a href="{% url 'reset_password' %}"><i class="fa fa-sync"></i> Change Password</a></li>
          </ul>
        </li>

        {% else %}
            <li><a href="{% url 'create_account_enduser' %}"> <i class="fa fa-plus"></i> Signup</a></li>

        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'mylogout' %}">Logout <i class="fa fa-sign-out"></i></a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
