{% extends "base.html" %}
{% load i18n %}
{% block Content %}

    <div class="container">
        
         <div class="row">
         {% include "include/messages.html" %}
         </div>

      <div class="row">
        <div class="ds-col-lg-12">
          <h1 class="page-header">{{name}} <small>{{subname}}</small></h1>
        </div>

      </div>
	  

      <div class="hero-unit">
              <div class="row">
                  <form class="well" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% load bootstrap %}
                    {{ form|bootstrap }}

                    <input type="submit" class="btn btn-primary"  value="{% trans 'Continue' %}" /><br>
                    <a href="javascript:history.go(-1)">{% trans "Go Back" %}</a>
                  </form>
             </div>

    </div>
</div>

{% endblock %}


