<html>
    <head>
        <title>{{ APPLICATION_TITLE }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Hi {{TO_FIRST_NAME}} {{TO_LAST_NAME}}</h1>
              </div>
            </div>
            
             <div class="row">
              <div class="col-lg-12">
                A new user {{ABOUT_FIRST_NAME}} {{ABOUT_LAST_NAME}} registered for your organization {{ORGANIZATION_NAME}} and needs your approval.
                Please log in to you account to approve or delete the new account. The new user may not log in until this step is completed.
                </div>
              </div>
            
            <div class="row">
              <div class="col-lg-12">
               <br/>
               <p>Thanks, </p>
               <p>The {{ APPLICATION_TITLE }} Team </p>
              </div>
            </div>
        </div><!-- /.container -->  
    </body>
</html>
