{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block Content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
     </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>

 <div class="col-lg-12 well">
    <div class="row text-center">
        <div class="col-lg-12">

    
    <h3>Hello {{request.user.username}}. Your account number is <span class="label label-default">{{profile.subject}}</span></h3>
    <h4>Your identity has been verified to level <span class="label label-warning">1</span>, but many services will require a <span class="label label-info">2</span>.
    You can <a href="">verify your identity now</a>
    
    </4>
    
    

    
    
	    </div>
		
    </div> <!-- /.row -->
 </div> <!-- /.well -->
</div><!-- /.container -->


{% endblock %}

