{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


    <div class="hero-unit text-center">

        <div class="container-fluid">
            
                <div class="row">
                  <div class="col-lg-10">
                    {% include "include/messages.html" %}
                  </div>
                </div>
            
                <div class="col-md-12">
                    
                <div class="col-lg-12 well">
    
                        <h2>{{ settings.APPLICATION_TITLE }}</h2>
                        <p>
                        <a href="{% url 'create_account_enduser' %}">Signup</a> to become a
                        new Member or <a href="{% url 'mfa_login' %}">Login</a> if you already
                        have an account.
                        </p>

    
            
                                  <a href="{% url 'mfa_login' %}">
                        <button type="button" class="btn btn-primary"> <i class="fa fa-sign-in"></i> Login </button></a>
            
                        <a href="{% url 'create_account_enduser' %}">
                                        <button type="button" class="btn btn-primary"> <i class="fa fa-plus"></i> Signup </button></a>
    
    
    

    
                </div>
                
<i>NOTE: If you are an employee or contractor attempting to create an account on behalf of an organization, then please contact your organization for a special signup link.</i>
                
                </div>       
        </div>
    </div>


                 <div class="col-md-12">
                <h3>About</h3>
                
                 {{ settings.APPLICATION_TITLE }} is an <a href="https://github.com/transparenthealth/vmi">open source</a>
                 implementation of <a href="https://openid.net/connect/">OpenID Connect</a> and
                 <a href="https://oauth.net/2/">OAuth2</a>. This server-side implementation of OpenID Connect is
                 <a href="https://openid.net/developers/certified/">certified</a> by the
                 <a href="https://openid.net/d">Open ID Foundation</a>.
                 Our standards-focused mission includes:
                 <ul>
                  <li><a href="https://pages.nist.gov/800-63-3/">NIST Digital Identity Guidelines 800-63-3</a></li>
                  <li><a href="https://tools.ietf.org/html/rfc8485">Vectors of Trust</a> </li>  
                  <li><a href="https://fidoalliance.org/how-fido-works/">FIDO U2F</a> and <a href="https://fidoalliance.org/fido2/">FIDO 2</a></li>
                  <li><a href="https://openid.net/specs/openid-igov-openid-connect-1_0-02.html">International Government Assurance Profile (iGov) for OpenID Connect 1.0</a></li>
                  <li><a href="http://hl7.org/fhir/smart-app-launch/">SMART App Launch Framework</a>
                 
                 <ul>
                
                 
                 
                </div>

{% endblock %}
