{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block Content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
     </div>


    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>

 <div class="col-lg-12 well">
    <div class="row text-center">
        <div class="col-lg-12">

    <a href="{% url 'user_search' %}"><button type="button" class="btn btn-default">People Search</button></a>
    <a href=""><button type="button" class="btn btn-default">Create Member Account</button></a>
     {% for o in organizations %}
        <a href="{{ o.signnup_url }}"><button type="button" class="btn  btn-x-small btn-default">Signup {{o}} Staff </button></a>
    {% endfor %}
    </h4>
    
	    </div>
		
    </div> <!-- /.row -->
 </div> <!-- /.well -->
</div><!-- /.container -->


{% endblock %}

