{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_head %}
      
        <title>Fido 2.0 Authentication</title>
  <script src="{% static 'cbor.js' %}"></script>
  <style>
    body { font-family: sans-serif; line-height: 1.5em; padding: 2em 10em; }
    h1, h2 { color: #325F74; }
    a { color: #0080ac; font-weight: bold; text-decoration: none;}
    a:hover { text-decoration: underline; }
  </style>
  
      
    {% endblock %}


{% block Content %}


  <h1>Authenticate with your device</h1>
  <p>Touch your authenticator device now...</p>
  <hr>

  <h2>Authenticate using a credential</h2>
  <p>Touch your authenticator device now...</p>
  <a href="{% url 'mylogout' %}">Cancel</a>

  <script>
    fetch('/device/verify/begin', {
      method: 'POST',
      headers: {
       'X-CSRFToken': '{{ csrf_token }}',
      }
    }).then(function(response) {
      if(response.ok) return response.arrayBuffer();
      throw new Error('No credential available to authenticate!');
    }).then(CBOR.decode).then(function(options) {
      console.debug(options)
      return navigator.credentials.get(options);
    }).then(function(assertion) {
      console.debug(assertion)
      return fetch('/device/verify/complete', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/cbor',
            'X-CSRFToken': '{{ csrf_token }}',
	},
        body: CBOR.encode({
          "credentialId": new Uint8Array(assertion.rawId),
          "authenticatorData": new Uint8Array(assertion.response.authenticatorData),
          "clientDataJSON": new Uint8Array(assertion.response.clientDataJSON),
          "signature": new Uint8Array(assertion.response.signature),
          "userHandle": new Uint8Array(assertion.response.userHandle),
        })
      })
    }).then(function(response) {
      var stat = response.ok ? 'successful' : 'unsuccessful';
      console.debug('Authentication' + stat + ' More details in server log...');
      location.reload()
    }, function(reason) {
      alert(reason);
    }).then(function() {
      console.debug("done")
    });
  </script>

{% endblock %}
